<div class="currentPage" page="customizationPage">

<div class="Polaris-Page">
  <div class="Polaris-Box" style="--pc-box-padding-block-start-xs: var(--p-space-400); --pc-box-padding-block-start-md: var(--p-space-600); --pc-box-padding-block-end-xs: var(--p-space-400); --pc-box-padding-block-end-md: var(--p-space-600); --pc-box-padding-inline-start-xs: var(--p-space-400); --pc-box-padding-inline-start-sm: var(--p-space-0); --pc-box-padding-inline-end-xs: var(--p-space-400); --pc-box-padding-inline-end-sm: var(--p-space-0); position: relative;">
    <div role="status">
      <p class="Polaris-Text--root Polaris-Text--visuallyHidden">Customization</p>
    </div>
    <div class="Polaris-Page-Header--isSingleRow Polaris-Page-Header--mediumTitle">
      <div class="Polaris-Page-Header__Row">
       <!--  <div class="Polaris-Page-Header__BreadcrumbWrapper">
          <div class="Polaris-Box Polaris-Box--printHidden" style="--pc-box-max-width: 100%; --pc-box-padding-inline-end-xs: var(--p-space-100);">
            <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantSecondary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter Polaris-Button--iconOnly" aria-label="Timers" type="button">
              <span class="Polaris-Button__Icon">
                <span class="Polaris-Icon">
                  <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.5 10a.75.75 0 0 1-.75.75h-9.69l2.72 2.72a.75.75 0 0 1-1.06 1.06l-4-4a.75.75 0 0 1 0-1.06l4-4a.75.75 0 1 1 1.06 1.06l-2.72 2.72h9.69a.75.75 0 0 1 .75.75Z"></path>
                  </svg>
                </span>
              </span>
            </button>
          </div>
        </div> -->
        <div class="Polaris-Page-Header__TitleWrapper Polaris-Page-Header__TitleWrapperExpand">
          <div class="Polaris-Header-Title__TitleWrapper">
            <h1 class="Polaris-Header-Title">
              <span class="Polaris-Text--root Polaris-Text--headingLg Polaris-Text--bold">Customization</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="Polaris-Layout">
      <div class="Polaris-Layout__Section">
        <div class="Polaris-InlineGrid" style="--pc-inline-grid-grid-template-columns-md: minmax(0, 1fr) minmax(0, 1fr); --pc-inline-grid-gap-xs: var(--p-space-200);">
          <form method="post">
            <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);">
              <div class="Polaris-ShadowBevel" style="--pc-shadow-bevel-z-index: 32; --pc-shadow-bevel-content-xs: &quot;&quot;; --pc-shadow-bevel-box-shadow-xs: var(--p-shadow-100); --pc-shadow-bevel-border-radius-xs: var(--p-border-radius-300);">
                <div class="Polaris-Box" style="--pc-box-background: var(--p-color-bg-surface); --pc-box-min-height: 100%; --pc-box-overflow-x: clip; --pc-box-overflow-y: clip; --pc-box-padding-block-start-xs: var(--p-space-400); --pc-box-padding-block-end-xs: var(--p-space-400); --pc-box-padding-inline-start-xs: var(--p-space-400); --pc-box-padding-inline-end-xs: var(--p-space-400);">
                  <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-400);">
                    <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-400);">
                      <div class="Polaris-FormLayout__Item Polaris-FormLayout--grouped">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label">
                              <label id=":r3a:Label" for=":r3a:" class="Polaris-Label__Text">
                                <span class="Polaris-Text--root Polaris-Text--bodyMd">Offer Heading</span>
                              </label>
                            </div>
                          </div>
                          <div class="Polaris-Connected">
                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                              <div class="Polaris-TextField">
                                <input id=":r3a:" autocomplete="off" class="Polaris-TextField__Input offerHeading" minlength="1" maxlength="50" type="text" aria-describedby=":r3a:HelpText :r3a:-CharacterCounter" aria-labelledby=":r3a:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                               <!--  <div id=":r3a:-CharacterCounter" class="Polaris-TextField__CharacterCount" aria-label="0 of 255 characters used" aria-live="off" aria-atomic="true">
                                  <span class="Polaris-Text--root Polaris-Text--bodyMd">0/255</span>
                                </div> -->
                                <div class="Polaris-TextField__Backdrop"></div>
                              </div>
                            </div>
                          </div>
                          <div class="Polaris-Labelled__Error offerHeadingError" style="">
                             <div id=":Rq6:Error" class="Polaris-InlineError">
                               <div class="Polaris-InlineError__Icon">
                                 <span class="Polaris-Icon">
                                   <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                     <path d="M10 6a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path>
                                     <path d="M11 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
                                     <path fill-rule="evenodd" d="M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Zm-1.5 0a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Z"></path>
                                   </svg>
                                 </span>
                               </div>
                               <span class="Polaris-Text--root Polaris-Text--bodyMd">Valid Offer Heading Text is required </span>
                             </div>
                           </div>
                        </div>
                      </div>
                      <div class="Polaris-FormLayout__Item Polaris-FormLayout--grouped">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label">
                              <label id=":r3b:Label" for=":r3b:" class="Polaris-Label__Text">
                                <span class="Polaris-Text--root Polaris-Text--bodyMd">Offer Text</span>
                              </label>
                            </div>
                          </div>
                          <div class="Polaris-Connected">
                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                              <div class="Polaris-TextField Polaris-TextField--hasValue">
                                <input id=":r3b:" autocomplete="off" class="Polaris-TextField__Input offerText" minlength="0" maxlength="255" type="text" aria-describedby=":r3b:-CharacterCounter" aria-labelledby=":r3b:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                <!-- <div id=":r3b:-CharacterCounter" class="Polaris-TextField__CharacterCount" aria-label="18 of 255 characters used" aria-live="off" aria-atomic="true">
                                  <span class="Polaris-Text--root Polaris-Text--bodyMd">18/255</span>
                                </div> -->
                                <div class="Polaris-TextField__Backdrop"></div>
                              </div>
                            </div>
                          </div>
                          <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--break Polaris-Text--subdued">shortcode : #followerQty</span>
                           <div class="Polaris-Labelled__Error offerTextError" style="">
                             <div id=":Rq6:Error" class="Polaris-InlineError">
                               <div class="Polaris-InlineError__Icon">
                                 <span class="Polaris-Icon">
                                   <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                     <path d="M10 6a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path>
                                     <path d="M11 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
                                     <path fill-rule="evenodd" d="M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Zm-1.5 0a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Z"></path>
                                   </svg>
                                 </span>
                               </div>
                               <span class="Polaris-Text--root Polaris-Text--bodyMd">Valid Offer Text is required </span>
                             </div>
                           </div>
                        </div>
                      </div>

                       <div class="Polaris-FormLayout__Item Polaris-FormLayout--grouped">
                        <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap: wrap; --pc-inline-stack-gap-xs: var(--p-space-300); --pc-inline-stack-flex-direction-xs: row;">
                          <div class="Polaris-FormLayout__Item Polaris-FormLayout--grouped">
                            <label class="Polaris-Choice Polaris-Checkbox__ChoiceLabel" for="showTimer">
                              <span class="Polaris-Choice__Control">
                                <span class="Polaris-Checkbox">
                                  <input id="showTimer" type="checkbox" class="Polaris-Checkbox__Input showTimer" aria-invalid="false" role="checkbox" aria-checked="true" value="1" checked="">
                                  <span class="Polaris-Checkbox__Backdrop"></span>
                                  <span class="Polaris-Checkbox__Icon Polaris-Checkbox--animated">
                                    <svg viewBox="0 0 16 16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                                      <path class="Polaris-Checkbox--checked" d="M1.5,5.5L3.44655,8.22517C3.72862,8.62007,4.30578,8.64717,4.62362,8.28044L10.5,1.5" transform="translate(2 2.980376)" opacity="0" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" pathLength="1"></path>
                                    </svg>
                                  </span>
                                </span>
                              </span>
                              <span class="Polaris-Choice__Label">
                                <span class="Polaris-Text--root Polaris-Text--bodyMd">Show Timer</span>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="Polaris-FormLayout__Item Polaris-FormLayout--grouped timerTextDiv">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label">
                              <label id=":r3c:Label" for=":r3c:" class="Polaris-Label__Text">
                                <span class="Polaris-Text--root Polaris-Text--bodyMd">Timer Text</span>
                              </label>
                            </div>
                          </div>
                          <div class="Polaris-Connected">
                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                              <div class="Polaris-TextField Polaris-TextField--hasValue">
                                <input id=":r3c:" autocomplete="off" class="Polaris-TextField__Input timerText" minlength="0" maxlength="255" type="text" aria-describedby=":r3c:-CharacterCounter" aria-labelledby=":r3c:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                               <!--  <div id=":r3c:-CharacterCounter" class="Polaris-TextField__CharacterCount" aria-label="13 of 255 characters used" aria-live="off" aria-atomic="true">
                                  <span class="Polaris-Text--root Polaris-Text--bodyMd">13/255</span>
                                </div> -->
                                <div class="Polaris-TextField__Backdrop"></div>
                              </div>
                            </div>
                          </div>
                           <div class="Polaris-Labelled__Error timerTextError" style="">
                             <div id=":Rq6:Error" class="Polaris-InlineError">
                               <div class="Polaris-InlineError__Icon">
                                 <span class="Polaris-Icon">
                                   <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                     <path d="M10 6a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path>
                                     <path d="M11 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
                                     <path fill-rule="evenodd" d="M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Zm-1.5 0a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Z"></path>
                                   </svg>
                                 </span>
                               </div>
                               <span class="Polaris-Text--root Polaris-Text--bodyMd">Valid Timer Text is required </span>
                             </div>
                           </div>
                        </div>
                      </div>
                     <!--  <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);" role="group">
                        <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap: wrap; --pc-inline-stack-gap-xs: var(--p-space-300); --pc-inline-stack-flex-direction-xs: row;">
                          <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                            <div class="">
                              <div class="Polaris-Labelled__LabelWrapper">
                                <div class="Polaris-Label">
                                  <label id=":r3e:Label" for=":r3e:" class="Polaris-Label__Text">
                                    <span class="Polaris-Text--root Polaris-Text--bodyMd">Days</span>
                                  </label>
                                </div>
                              </div>
                              <div class="Polaris-Connected">
                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                  <div class="Polaris-TextField Polaris-TextField--hasValue">
                                    <input id=":r3e:" autocomplete="off" class="Polaris-TextField__Input" maxlength="255" type="text" aria-labelledby=":r3e:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="Days">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                            <div class="">
                              <div class="Polaris-Labelled__LabelWrapper">
                                <div class="Polaris-Label">
                                  <label id=":r3f:Label" for=":r3f:" class="Polaris-Label__Text">
                                    <span class="Polaris-Text--root Polaris-Text--bodyMd">Hours</span>
                                  </label>
                                </div>
                              </div>
                              <div class="Polaris-Connected">
                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                  <div class="Polaris-TextField Polaris-TextField--hasValue">
                                    <input id=":r3f:" autocomplete="off" class="Polaris-TextField__Input" maxlength="255" type="text" aria-labelledby=":r3f:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="Hours">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);" role="group">
                        <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap: wrap; --pc-inline-stack-gap-xs: var(--p-space-300); --pc-inline-stack-flex-direction-xs: row;">
                          <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                            <div class="">
                              <div class="Polaris-Labelled__LabelWrapper">
                                <div class="Polaris-Label">
                                  <label id=":r3h:Label" for=":r3h:" class="Polaris-Label__Text">
                                    <span class="Polaris-Text--root Polaris-Text--bodyMd">Minutes</span>
                                  </label>
                                </div>
                              </div>
                              <div class="Polaris-Connected">
                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                  <div class="Polaris-TextField Polaris-TextField--hasValue">
                                    <input id=":r3h:" autocomplete="off" class="Polaris-TextField__Input" maxlength="255" type="text" aria-labelledby=":r3h:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="Minutes">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                            <div class="">
                              <div class="Polaris-Labelled__LabelWrapper">
                                <div class="Polaris-Label">
                                  <label id=":r3i:Label" for=":r3i:" class="Polaris-Label__Text">
                                    <span class="Polaris-Text--root Polaris-Text--bodyMd">Seconds</span>
                                  </label>
                                </div>
                              </div>
                              <div class="Polaris-Connected">
                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                  <div class="Polaris-TextField Polaris-TextField--hasValue">
                                    <input id=":r3i:" autocomplete="off" class="Polaris-TextField__Input" maxlength="255" type="text" aria-labelledby=":r3i:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="Seconds">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->

                     <!--  <div class="Polaris-FormLayout__Item Polaris-FormLayout--grouped">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label">
                              <label id=":r3c:Label" for="fomoText" class="Polaris-Label__Text">
                                <span class="Polaris-Text--root Polaris-Text--bodyMd">Fomo Text</span>
                              </label>
                            </div>
                          </div>
                          <div class="Polaris-Connected">
                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                              <div class="Polaris-TextField Polaris-TextField--hasValue">
                                <input id="fomoText" autocomplete="off" class="Polaris-TextField__Input fomoText" minlength="0" maxlength="255" type="text" aria-describedby=":r3c:-CharacterCounter" aria-labelledby=":r3c:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                               
                                <div class="Polaris-TextField__Backdrop"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
 -->
                      <div class="Polaris-FormLayout__Item Polaris-FormLayout--grouped">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label">
                              <label id=":r3c:Label" for="buttonText" class="Polaris-Label__Text">
                                <span class="Polaris-Text--root Polaris-Text--bodyMd">Button Text</span>
                              </label>
                            </div>
                          </div>
                          <div class="Polaris-Connected">
                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                              <div class="Polaris-TextField Polaris-TextField--hasValue">
                                <input id="buttonText" autocomplete="off" class="Polaris-TextField__Input buttonText" minlength="0" maxlength="255" type="text" aria-describedby=":r3c:-CharacterCounter" aria-labelledby=":r3c:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                               <!--  <div id=":r3c:-CharacterCounter" class="Polaris-TextField__CharacterCount" aria-label="13 of 255 characters used" aria-live="off" aria-atomic="true">
                                  <span class="Polaris-Text--root Polaris-Text--bodyMd">13/255</span>
                                </div> -->
                                <div class="Polaris-TextField__Backdrop"></div>
                              </div>
                            </div>
                          </div>

                         <!--  <div class="Polaris-Labelled__Error fomoTextError" style="">
                             <div id=":Rq6:Error" class="Polaris-InlineError">
                               <div class="Polaris-InlineError__Icon">
                                 <span class="Polaris-Icon">
                                   <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                     <path d="M10 6a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path>
                                     <path d="M11 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
                                     <path fill-rule="evenodd" d="M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Zm-1.5 0a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Z"></path>
                                   </svg>
                                 </span>
                               </div>
                               <span class="Polaris-Text--root Polaris-Text--bodyMd">Valid Fomo Text is required </span>
                             </div>
                           </div> -->

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="Polaris-ShadowBevel" style="--pc-shadow-bevel-z-index: 32; --pc-shadow-bevel-content-xs: &quot;&quot;; --pc-shadow-bevel-box-shadow-xs: var(--p-shadow-100); --pc-shadow-bevel-border-radius-xs: var(--p-border-radius-300);">
                <div class="Polaris-Box" style="--pc-box-background: var(--p-color-bg-surface); --pc-box-min-height: 100%; --pc-box-overflow-x: clip; --pc-box-overflow-y: clip; --pc-box-padding-block-start-xs: var(--p-space-400); --pc-box-padding-block-end-xs: var(--p-space-400); --pc-box-padding-inline-start-xs: var(--p-space-400); --pc-box-padding-inline-end-xs: var(--p-space-400);">
                  <div class="Polaris-BlockStack" style="--pc-block-stack-order: column;">
                    <h2 class="Polaris-Text--root Polaris-Text--headingSm">Style</h2>
                    <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);">
                      

                      <div class="Polaris-Box" style="--pc-box-padding-block-start-xs: var(--p-space-200); --pc-box-padding-block-end-xs: var(--p-space-200);">
                        <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);">
                          <h3 class="Polaris-Text--root Polaris-Text--headingMd Polaris-Text--medium">Border</h3>
                          <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-400);">
                            <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);" role="group">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap: wrap; --pc-inline-stack-gap-xs: var(--p-space-300); --pc-inline-stack-flex-direction-xs: row;">
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r3n:Label" for=":r3n:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Color</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <div class="Polaris-Connected__Item">
                                        <input type="text" id="color-picker" class="colorPicker5 boxBorderColor" data-no ='5'/>
                                                <div id="preview-box" class="preview_box_5" style="display: none;width: 100px; height: 100px; border: 1px solid #ccc; margin-top: 10px;"></div>
                                      </div>
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r3n:" autocomplete="off" class="Polaris-TextField__Input borderColor colorPickerValue5" type="text" aria-labelledby=":r3n:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r3p:Label" for=":r3p:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Size</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r3p:" autocomplete="off" class="Polaris-TextField__Input Polaris-TextField__Input--suffixed borderSize" min="0" type="number" aria-labelledby=":r3p:Label :r3p:-Suffix" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Suffix" id=":r3p:-Suffix">
                                            <span class="Polaris-Text--root Polaris-Text--bodyMd">px</span>
                                          </div>
                                          
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r3q:Label" for=":r3q:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Radius</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r3q:" autocomplete="off" class="Polaris-TextField__Input Polaris-TextField__Input--suffixed borderRadius" min="0" type="number" aria-labelledby=":r3q:Label :r3q:-Suffix" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Suffix" id=":r3q:-Suffix">
                                            <span class="Polaris-Text--root Polaris-Text--bodyMd">px</span>
                                          </div>
                                         
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Polaris-Box" style="--pc-box-padding-block-start-xs: var(--p-space-200); --pc-box-padding-block-end-xs: var(--p-space-200);">
                        <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);">
                          <h3 class="Polaris-Text--root Polaris-Text--headingMd Polaris-Text--medium">Spacing</h3>
                          <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-400);">
                            <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);" role="group">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap: wrap; --pc-inline-stack-gap-xs: var(--p-space-300); --pc-inline-stack-flex-direction-xs: row;">
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r3v:Label" for=":r3v:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Margin</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r3v:" autocomplete="off" class="Polaris-TextField__Input Polaris-TextField__Input--suffixed marginInput" min="0" type="number" aria-labelledby=":r3v:Label :r3v:-Suffix" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Suffix" id=":r3v:-Suffix">
                                            <span class="Polaris-Text--root Polaris-Text--bodyMd">px</span>
                                          </div>
                                        
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r40:Label" for=":r40:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Padding</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r40:" autocomplete="off" class="Polaris-TextField__Input Polaris-TextField__Input--suffixed paddingInput" min="0" type="number" aria-labelledby=":r40:Label :r40:-Suffix" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Suffix" id=":r40:-Suffix">
                                            <span class="Polaris-Text--root Polaris-Text--bodyMd">px</span>
                                          </div>
                                         
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Polaris-Box" style="--pc-box-padding-block-start-xs: var(--p-space-200); --pc-box-padding-block-end-xs: var(--p-space-200);">
                        <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);">
                          <h3 class="Polaris-Text--root Polaris-Text--headingMd Polaris-Text--medium">Typography</h3>
                          <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-400);">
                            
                            <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);" role="group">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap: wrap; --pc-inline-stack-gap-xs: var(--p-space-300); --pc-inline-stack-flex-direction-xs: row;">
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r43:Label" for=":r43:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Offer Heading Color</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <input type="text" id="color-picker" class="colorPicker1 offerHeadingColor" data-no ='1'/>
                                      <div id="preview-box" class="preview_box_1" style="display: none;width: 100px; height: 100px; border: 1px solid #ccc; margin-top: 10px;"></div>
                                     
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary" style="width: min-content;">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r43:" autocomplete="off" class="Polaris-TextField__Input colorPickerValue1" type="text" aria-labelledby=":r43:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r45:Label" for=":r45:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Size</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r45:" autocomplete="off" class="offerHeadingSize Polaris-TextField__Input Polaris-TextField__Input--suffixed" min="0" type="number" aria-labelledby=":r45:Label :r45:-Suffix" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Suffix" id=":r45:-Suffix">
                                            <span class="Polaris-Text--root Polaris-Text--bodyMd">px</span>
                                          </div>
                                         
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                             <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);" role="group">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap: wrap; --pc-inline-stack-gap-xs: var(--p-space-300); --pc-inline-stack-flex-direction-xs: row;">
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r43:Label" for=":r43:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Offer Text color</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <input type="text" id="color-picker" class="colorPicker2 offerTextColor" data-no ='2'/>
                                      <div id="preview-box" class="preview_box_2" style="display: none;width: 100px; height: 100px; border: 1px solid #ccc; margin-top: 10px;"></div>
                                     
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary" style="width: min-content;">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r43:" autocomplete="off" class="Polaris-TextField__Input colorPickerValue2" type="text" aria-labelledby=":r43:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r45:Label" for=":r45:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">size</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r45:" autocomplete="off" class="offerTextSize Polaris-TextField__Input Polaris-TextField__Input--suffixed" min="0" type="number" aria-labelledby=":r45:Label :r45:-Suffix" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Suffix" id=":r45:-Suffix">
                                            <span class="Polaris-Text--root Polaris-Text--bodyMd">px</span>
                                          </div>
                                         
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                             <div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);" role="group">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap: wrap; --pc-inline-stack-gap-xs: var(--p-space-300); --pc-inline-stack-flex-direction-xs: row;">
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r43:Label" for=":r43:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Timer Text color</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <input type="text" id="color-picker" class="colorPicker3 timerTextColor" data-no ='3'/>
                                      <div id="preview-box" class="preview_box_3" style="display: none;width: 100px; height: 100px; border: 1px solid #ccc; margin-top: 10px;"></div>
                                     
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary" style="width: min-content;">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r43:" autocomplete="off" class="Polaris-TextField__Input colorPickerValue3" type="text" aria-labelledby=":r43:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r45:Label" for=":r45:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">size</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r45:" autocomplete="off" class="timerTextSize Polaris-TextField__Input Polaris-TextField__Input--suffixed" min="0" type="number" aria-labelledby=":r45:Label :r45:-Suffix" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Suffix" id=":r45:-Suffix">
                                            <span class="Polaris-Text--root Polaris-Text--bodyMd">px</span>
                                          </div>
                                         
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!--  <div class="Polaris-BlockStack timerTextDiv" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-200);" role="group">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap: wrap; --pc-inline-stack-gap-xs: var(--p-space-300); --pc-inline-stack-flex-direction-xs: row;">
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r43:Label" for=":r43:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">Fomo Text color</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <input type="text" id="color-picker" class="colorPicker4 fomoTextColor" data-no ='4'/>
                                      <div id="preview-box" class="preview_box_4" style="display: none;width: 100px; height: 100px; border: 1px solid #ccc; margin-top: 10px;"></div>
                                     
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary" style="width: min-content;">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r43:" autocomplete="off" class="Polaris-TextField__Input colorPickerValue4" type="text" aria-labelledby=":r43:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="Polaris-FormLayout__Item Polaris-FormLayout--condensed">
                                  <div class="">
                                    <div class="Polaris-Labelled__LabelWrapper">
                                      <div class="Polaris-Label">
                                        <label id=":r45:Label" for=":r45:" class="Polaris-Label__Text">
                                          <span class="Polaris-Text--root Polaris-Text--bodyMd">size</span>
                                        </label>
                                      </div>
                                    </div>
                                    <div class="Polaris-Connected">
                                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                        <div class="Polaris-TextField Polaris-TextField--hasValue">
                                          <input id=":r45:" autocomplete="off" class="fomoTextSize Polaris-TextField__Input Polaris-TextField__Input--suffixed" min="0" type="number" aria-labelledby=":r45:Label :r45:-Suffix" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="">
                                          <div class="Polaris-TextField__Suffix" id=":r45:-Suffix">
                                            <span class="Polaris-Text--root Polaris-Text--bodyMd">px</span>
                                          </div>
                                         
                                          <div class="Polaris-TextField__Backdrop"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
 --> 
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="Polaris-LegacyStack Polaris-LegacyStack--spacingTight Polaris-LegacyStack--distributionTrailing" style="text-align: justify;align-items: self-end;">
                <div class="Polaris-LegacyStack__Item">
                    <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantSecondary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter resetDataBtn" type="button">
                     <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Reset</span>
                   </button>    

                    <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantPrimary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter saveCustomization" type="button">
                     <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Save</span>
                   </button>
                </div>
              </div>
            </div>
          </form>
          <div>
            <!-- <div style="padding-bottom: 310px;"></div> -->
            <div style="position: fixed; top: 4rem; left: 687px; width: 628px;">
              <div class="Polaris-Grid" style="--pc-grid-columns-xs: 1; --pc-grid-columns-sm: 2; --pc-grid-columns-md: 3; --pc-grid-columns-lg: 3; --pc-grid-columns-xl: 3;">
            <!--     <div class="Polaris-Grid-Cell Polaris-Grid-Cell--cell_1ColumnXs Polaris-Grid-Cell--cell_1ColumnSm Polaris-Grid-Cell--cell_1ColumnMd"></div>
 -->                <div class="Polaris-Grid-Cell Polaris-Grid-Cell--cell_1ColumnXs Polaris-Grid-Cell--cell_2ColumnSm Polaris-Grid-Cell--cell_2ColumnMd">
                  <!-- SocialX Widget -->
                  <div style="margin-top: 3rem;">
                      <div class="offer_widget">
                        <h3 class="offer-heading"> Free Gift</h3>
                        <p class="offer-text">Unlock Free Instagram Followers!</p>
                         <div style="display: inline-flex;margin-bottom: 15px;" class="timer-text-div"><div class="timer-text"> Hurry! Offer ends in: </div><span id="countdown-timer"> 10:00</span></div>
                        <div class="input-section">
                            <input type="text" class="placeholderInput" placeholder="Enter Instagram Username">
                            <button id="claim-offer-button">Claim Now</button>
                        </div>
                    </div>
                  </div>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Polaris-FooterHelp" style="--pc-footer-help-align: center;">
    </div>
  </div>
</div>
 