<div class="currentPage" page="settingsPage">

 <div class="Polaris-Page">
   <div class="Polaris-Box settingsNavBarPolarisBox" style="">
     <div class="Polaris-Page-Header--mediumTitle">
       <div class="Polaris-Page-Header__Row">
         <div class="Polaris-Page-Header__TitleWrapper Polaris-Page-Header__TitleWrapperExpand">
           <div class="Polaris-Header-Title__TitleWrapper">
             <h1 class="Polaris-Header-Title">
               <span class="Polaris-Text--root Polaris-Text--headingLg Polaris-Text--bold">Settings</span>
             </h1>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="Polaris-Page">
   <div class="Polaris-Page__Content">
     <div class="Polaris-Layout">
      <div class="settingBlock1">
       <div class="Polaris-Layout__Section Polaris-Layout__Section--oneThird">
         <section class="Polaris-Box" style="--pc-box-padding-inline-start-xs: var(--p-space-400); --pc-box-padding-inline-start-sm: var(--p-space-0); --pc-box-padding-inline-end-xs: var(--p-space-400); --pc-box-padding-inline-end-sm: var(--p-space-0);"><div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-400);"><h3 class="Polaris-Text--root Polaris-Text--headingMd">General</h3><p class="Polaris-Text--root Polaris-Text--bodyMd">Easily manage your app's functionality with a single click. Enable or disable the app to control its active status instantly.</p></div></section>
       </div>
       <div class="Polaris-Layout__Section text-left">
         <div class="Polaris-LegacyCard generalSettings">
           <div class="Polaris-ShadowBevel" style="--pc-shadow-bevel-z-index: 32; --pc-shadow-bevel-content-xs: &quot;&quot;; --pc-shadow-bevel-box-shadow-xs: var(--p-shadow-100); --pc-shadow-bevel-border-radius-xs: var(--p-border-radius-300);">
             <div class="Polaris-Box" style="--pc-box-background:var(--p-color-bg-surface);--pc-box-min-height:100%;--pc-box-overflow-x:clip;--pc-box-overflow-y:clip;--pc-box-padding-block-start-xs:var(--p-space-400);--pc-box-padding-block-end-xs:var(--p-space-400);--pc-box-padding-inline-start-xs:var(--p-space-400);--pc-box-padding-inline-end-xs:var(--p-space-400)">
               <div class="Polaris-SettingAction">
                 <div class="Polaris-SettingAction__Setting">
                   <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap:wrap;--pc-inline-stack-gap-xs:var(--p-space-400);--pc-inline-stack-flex-direction-xs:row">
                     <div class="Polaris-BlockStack" style="--pc-block-stack-order:column;--pc-block-stack-gap-xs:var(--p-space-100)">
                       <h2 class="Polaris-Text--root Polaris-Text--headingSm">App status</h2>
                       <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--subdued">Enable or disable this app with just one click.</span>
                     </div>
                   </div>
                 </div>
                 <div class="Polaris-ButtonGroup Polaris-ButtonGroup--variantSegmented" data-buttongroup-variant="segmented">
                   <div class="Polaris-ButtonGroup__Item">
                     <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantSecondary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter app_status_btn status1" app-status="1" type="button" aria-pressed="true">
                       <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Enable</span>
                     </button>
                   </div>
                   <div class="Polaris-ButtonGroup__Item">
                     <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantSecondary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter Polaris-Button--pressed app_status_btn status0" app-status="0" type="button" aria-pressed="false">
                       <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Disable</span>
                     </button>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      </div>

     <div class="settingBlock3">
       <div class="Polaris-Layout__Section Polaris-Layout__Section--oneThird">
         <section class="Polaris-Box" style="--pc-box-padding-inline-start-xs: var(--p-space-400); --pc-box-padding-inline-start-sm: var(--p-space-0); --pc-box-padding-inline-end-xs: var(--p-space-400); --pc-box-padding-inline-end-sm: var(--p-space-0);"><div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-400);"><h3 class="Polaris-Text--root Polaris-Text--headingMd">Follower Balance</h3><p class="Polaris-Text--root Polaris-Text--bodyMd">Add more follower balance</p><h4 class="Polaris-Text--root Polaris-Text--headingMd">Total Followers = {{ userData['total_followers']  }}</h4></div></section>
       </div>
       <div class="Polaris-Layout__Section text-left">
         <div class="Polaris-LegacyCard generalSettings">
           <div class="Polaris-ShadowBevel" style="--pc-shadow-bevel-z-index: 32; --pc-shadow-bevel-content-xs: &quot;&quot;; --pc-shadow-bevel-box-shadow-xs: var(--p-shadow-100); --pc-shadow-bevel-border-radius-xs: var(--p-border-radius-300);">
             <div class="Polaris-Box" style="--pc-box-background:var(--p-color-bg-surface);--pc-box-min-height:100%;--pc-box-overflow-x:clip;--pc-box-overflow-y:clip;--pc-box-padding-block-start-xs:var(--p-space-400);--pc-box-padding-block-end-xs:var(--p-space-400);--pc-box-padding-inline-start-xs:var(--p-space-400);--pc-box-padding-inline-end-xs:var(--p-space-400)">
               <div class="Polaris-SettingAction">
                 <div class="Polaris-SettingAction__Setting">
                   <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap:wrap;--pc-inline-stack-gap-xs:var(--p-space-400);--pc-inline-stack-flex-direction-xs:row">
                     <div class="Polaris-BlockStack" style="--pc-block-stack-order:column;--pc-block-stack-gap-xs:var(--p-space-100)">
                       <h2 class="Polaris-Text--root Polaris-Text--headingSm">Follower Balance</h2>
                       <div class="Polaris-Connected">
                         <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                           <div class="Polaris-TextField Polaris-TextField--hasValue">
                             <input id=":Rq6:" autocomplete="" class="Polaris-TextField__Input addFollowersValue" type="number" aria-describedby=":Rq6:HelpText" aria-labelledby=":Rq6:Label" aria-invalid="false" value="">
                             <div class="Polaris-TextField__Backdrop"></div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="Polaris-ButtonGroup Polaris-ButtonGroup--variantSegmented" data-buttongroup-variant="segmented">
                   <div class="Polaris-ButtonGroup__Item">
                      <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantPrimary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter addFollowers" type="button">
                       <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Add followers</span>
                     </button>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

      <div class="settingBlock2">

        <div class="Polaris-Layout__Section Polaris-Layout__Section--oneThird">
         <section class="Polaris-Box" style="--pc-box-padding-inline-start-xs: var(--p-space-400); --pc-box-padding-inline-start-sm: var(--p-space-0); --pc-box-padding-inline-end-xs: var(--p-space-400); --pc-box-padding-inline-end-sm: var(--p-space-0);"><div class="Polaris-BlockStack" style="--pc-block-stack-order: column; --pc-block-stack-gap-xs: var(--p-space-400);"><h3 class="Polaris-Text--root Polaris-Text--headingMd">Offer Configuration</h3><p class="Polaris-Text--root Polaris-Text--bodyMd">Customize how your app appears to users. Adjust visibility options, layout preferences, and other display elements to enhance the user experience.</p></div></section>
        </div>

         <div class="Polaris-Layout__Section text-left">
        
           <div class="Polaris-LegacyCard displaySettings">
             <div class="Polaris-ShadowBevel ShadowBevel" style="">
               <div class="Polaris-Box" style="">
                 <div class="formFields text-left">
                   <div class="Polaris-LegacyStack__Item"></div>
                   <div class="Polaris-Labelled__LabelWrapper hideI">
                     <div class="Polaris-Label">
                       <label id=":Rq6:Label" for=":Rq6:" class="Polaris-Label__Text">
                         <span class="Polaris-Text--root Polaris-Text--bodyMd">Offer message</span>
                       </label>
                     </div>
                   </div>
                   <div class="Polaris-Connected hideI">
                     <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                       <div class="Polaris-TextField Polaris-TextField--hasValue">
                         <input id=":Rq6:" autocomplete="off" class="Polaris-TextField__Input offerMessageText" type="text" aria-labelledby=":Rq6:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" placeholder="Example : Buy this product and get 100 Instagram followers instantly!" value="">
                         <div class="Polaris-TextField__Backdrop"></div>
                       </div>
                     </div>
                   </div>
                   <div class="Polaris-Labelled__Error offerMessageText hideI">
                     <div id=":Rq6:Error" class="Polaris-InlineError">
                       <div class="Polaris-InlineError__Icon">
                         <span class="Polaris-Icon">
                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                             <path d="M10 6a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path>
                             <path d="M11 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
                             <path fill-rule="evenodd" d="M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Zm-1.5 0a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Z"></path>
                           </svg>
                         </span>
                       </div>
                       <span class="Polaris-Text--root Polaris-Text--bodyMd">Offer message is required</span>
                     </div>
                   </div>
                   <div class="Polaris-Labelled__HelpText marginBottom_1rem hideI" id=":Rq6:HelpText">
                     <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--break Polaris-Text--subdued"></span>
                   </div>
                   <div class="Polaris-Labelled__LabelWrapper hideI">
                     <div class="Polaris-Label">
                       <label id=":Rq6:Label" for=":Rq6:" class="Polaris-Label__Text">
                         <span class="Polaris-Text--root Polaris-Text--bodyMd">Offer Button text</span>
                       </label>
                     </div>
                   </div>
                   <div class="Polaris-Connected hideI">
                     <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                       <div class="Polaris-TextField Polaris-TextField--hasValue">
                         <input id=":Rq6:" autocomplete="off" class="Polaris-TextField__Input offerBtnText" type="text" aria-labelledby=":Rq6:Label" aria-invalid="false" data-1p-ignore="true" data-lpignore="true" data-form-type="other" value="" placeholder="Example : Claim Your Followers Now!">
                         <div class="Polaris-TextField__Backdrop"></div>
                       </div>
                     </div>
                   </div>
                   <div class="Polaris-Labelled__Error offerBtnText hideI">
                     <div id=":Rq6:Error" class="Polaris-InlineError">
                       <div class="Polaris-InlineError__Icon">
                         <span class="Polaris-Icon">
                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                             <path d="M10 6a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path>
                             <path d="M11 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
                             <path fill-rule="evenodd" d="M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Zm-1.5 0a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Z"></path>
                           </svg>
                         </span>
                       </div>
                       <span class="Polaris-Text--root Polaris-Text--bodyMd">Offer Button text is required</span>
                     </div>
                   </div>
                   <div class="Polaris-Labelled__HelpText" id=":Rq6:HelpText">
                     <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--break Polaris-Text--subdued"></span>
                   </div>
                   <div class="Polaris-LegacyStack__Item marginBottom_1rem"></div>
                   <div class="Polaris-Labelled__LabelWrapper">
                     <div class="Polaris-Label">
                       <label id=":Rq6:Label" for=":Rq6:" class="Polaris-Label__Text">
                         <span class="Polaris-Text--root Polaris-Text--bodyMd">Number of Followers per order</span>
                       </label>
                     </div>
                   </div>
                   <div class="Polaris-Connected">
                     <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                       <div class="Polaris-TextField Polaris-TextField--hasValue">
                         <input id=":Rq6:" autocomplete="email" class="Polaris-TextField__Input noOfFollowers" type="number" aria-describedby=":Rq6:HelpText" aria-labelledby=":Rq6:Label" aria-invalid="false" value="">
                         <div class="Polaris-TextField__Backdrop"></div>
                       </div>
                     </div>
                   </div>
                   <div class="Polaris-Labelled__Error noOfFollowers">
                     <div id=":Rq6:Error" class="Polaris-InlineError">
                       <div class="Polaris-InlineError__Icon">
                         <span class="Polaris-Icon">
                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                             <path d="M10 6a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path>
                             <path d="M11 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
                             <path fill-rule="evenodd" d="M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Zm-1.5 0a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Z"></path>
                           </svg>
                         </span>
                       </div>
                       <span class="Polaris-Text--root Polaris-Text--bodyMd">Number of Followers per order is required</span>
                     </div>
                   </div>
                   
                   <div class="Polaris-LegacyStack__Item marginBottom_1rem"></div>
                   <div class="Polaris-Labelled__LabelWrapper">
                     <div class="Polaris-Label">
                       <label id=":Rq6:Label" for=":Rq6:" class="Polaris-Label__Text">
                         <span class="Polaris-Text--root Polaris-Text--bodyMd">Max Usage per customer</span>
                       </label>
                     </div>
                   </div>
                   <div class="Polaris-Connected">
                     <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                       <div class="Polaris-TextField Polaris-TextField--hasValue">
                         <input id=":Rq6:" autocomplete="number" class="Polaris-TextField__Input maxUsageNo" type="number" aria-describedby=":Rq6:HelpText" aria-labelledby=":Rq6:Label" aria-invalid="false" value="">
                         <div class="Polaris-TextField__Backdrop"></div>
                       </div>
                     </div>
                   </div>
                   <div class="Polaris-Labelled__Error maxUsageNo">
                     <div id=":Rq6:Error" class="Polaris-InlineError">
                       <div class="Polaris-InlineError__Icon">
                         <span class="Polaris-Icon">
                           <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                             <path d="M10 6a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path>
                             <path d="M11 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
                             <path fill-rule="evenodd" d="M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Zm-1.5 0a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Z"></path>
                           </svg>
                         </span>
                       </div>
                       <span class="Polaris-Text--root Polaris-Text--bodyMd">Max usage per customer is required</span>
                     </div>
                   </div>

                 </div>
               </div>
             </div>
           </div>
           <div class="Polaris-PageActions">
             <div class="Polaris-LegacyStack Polaris-LegacyStack--spacingTight Polaris-LegacyStack--distributionTrailing">
               <div class="Polaris-LegacyStack__Item">
                 <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantPrimary Polaris-Button--sizeMedium Polaris-Button--textAlignCenter saveDataBtn" type="button">
                   <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Save</span>
                 </button>
               </div>
             </div>
           </div>
         </div>
       </div>

     </div>
   </div>
 </div>


  <button type="button" class="selectPlan" name="plan" value="basic">Choose Basic (Free + Usage)</button>
 